# example of file for storing private and user specific environment variables, like keys or system paths
# rename it to ".env" (excluded from version control by default)
# .env is loaded by train.py automatically
# hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

MY_VAR="/home/user/my/system/path"
CONDA_ENV="pyt25" # path to conda environment, relevant for training on cluster with slurm (e.g. configs/meluxina.yaml)
SLURM_ACCOUNT="my_account" # account for slurm, relevant for training on cluster with slurm (e.g. configs/meluxina.yaml)
WANDB_BASE_URL=""
WANDB_ENTITY=""
WANDB_BASE_URL=https://api.wandb.ai
WANDB_IGNORE_GLOBS=*.log # We ignore to upload the log files to wandb, this fills up the space fast.
